[Unit]
Description=Startup script for Hiking Assistant Bluetooth Receiver
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/hiking-assistant/receiver/rpi
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/user/hiking-assistant/.venv/bin/python3 receiver.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target




# Steps:
# Place in /lib/systemd/system/startup_receiver.service
# sudo systemctl daemon-reload
# sudo systemctl enable startup_receiver.service
# sudo systemctl start startup_receiver.service
